.card-box.white {
  background-color: white;
  color: #4E516A; }

.sweet-alert-override.sweet-alert.showSweetAlert.visible {
  position: relative;
  margin-top: 50px;
  left: 0;
  margin-left: auto;
  margin-right: auto; }

.video-react .video-react-fullscreen-control.video-react-icon-fullscreen.video-react-icon {
  position: absolute;
  right: 0; }

.video-react .video-react-fullscreen-control.video-react-icon-fullscreen-exit.video-react-icon {
  position: absolute;
  right: 0; }
